profiles {
    local {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        process.container = 'psss-harness'
        docker.enabled = true
    }
    aws {
        process.executor = 'awsbatch'
        process.queue = ''
        process.container = 'traviswheelerlab/the_count:latest'
        aws.region = 'us-west-1'
        aws.accessKey = 'xxx'
        aws.secretKey = 'xxx'
    }
    gscc {
        process.executor = 'slurm'
        process.clusterOptions = '--partition=wheeler_lab_cpu,wheeler_lab_large_cpu,wheeler_lab_small_cpu'
        process.container = 'traviswheelerlab/pseudomonas_pipeline_runner:latest'
        docker.enabled = true
    }
}

